.button {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(50, 50, 50);
  height: 40px;
  padding: 0 20px;
  width: 100%;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #eee;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  border: 1px solid rgb(67, 67, 67);
  cursor: pointer;
}
